---
import Layout from '../../layouts/Layout.astro'
import Card from '../../components/Card.astro'
import data from '../../data/got.json'

export const getStaticPaths = () => {
  return data.characters
    .filter((ch) => ch.id)
    .map((movie) => {
      return {
        params: {
          id: movie.id
        },
        props: { movie }
      }
    })
}

const { movie } = Astro.props
---

<Layout title='Welcome to Astro.'>
  <main class='relative'>
    <a
      class='absolute m-3 inline-block rounded-full border border-indigo-600 p-3 text-indigo-600 hover:bg-indigo-600 hover:text-white focus:outline-none focus:ring active:bg-indigo-500'
      href='/personajes'
    >
      <span class='sr-only'> Download</span>

      <svg
        class='h-5 w-5 rtl:rotate-180'
        xmlns='http://www.w3.org/2000/svg'
        fill='none'
        viewBox='0 0 24 24'
        stroke='currentColor'
      >
        <path
          stroke-linecap='round'
          stroke-linejoin='round'
          stroke-width='2'
          d='M14 5l7 7m0 0l-7 7m7-7H3'></path>
      </svg>
    </a>
    <section class=''>
      {
        (
          <div class='flex flex-col gap-10'>
            <h1
              class='text-9xl text-white self-center'
              transition:name={`ch-name-${movie.id}`}
            >
              {movie.characterName}
            </h1>
            <img
              class='self-center max-h-[700px]'
              transition:name={`ch-${movie.id}`}
              src={movie.characterImageFull}
              alt={movie.characterName}
            />
          </div>
        )
      }
    </section>
  </main>
</Layout>
