---
import Layout from '../layouts/Layout.astro'
import data from '../data/got.json'
---

<Layout title='Welcome to Astro.'>
  <main class='relative'>
    
    <header class='text-center'>
      <h1
        transition:name='header'
        class='bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 bg-clip-text text-4xl font-extrabold text-transparent sm:text-5xl py-3'
      >
        Game of Thrones
      </h1>
    </header>
    <section
      class='grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-3'
    >
      {
        data.characters
          .filter((ch) => ch.id && ch.characterImageThumb)
          .map((movie) => (
            <div class='border-[1px] rounded-md border-green-300 flex flex-col items-center gap-2'>
              <h1
                class='text-lg text-white'
                transition:name={`ch-name-${movie.id}`}
              >
                {movie.characterName}
              </h1>
              <div class='overflow-hidden'>
                <a href={`/personajes/${movie.id}`}>
                  <img
                    transition:name={`ch-${movie.id}`}
                    class=' hover:scale-125 transform duration-200 w-70 aspect-auto object-cover'
                    src={movie.characterImageThumb}
                    alt={movie.characterName}
                  />
                </a>
              </div>
            </div>
          ))
      }
    </section>
  </main>
</Layout>
